.search-bar {
  align-items: center;
  border-top: 1px solid whitesmoke;
  display: flex;
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  justify-content: flex-end;
}

.search-bar.is-active {
  right: 60px;
}

.search-bar .input {
  background: #f5f5f500;
  border: 1px solid #f5f5f596;
  color: darkslategray;
  font-size: 0.9rem;
  height: 24px;
  max-width: 240px;
  position: relative;
  top: 2px;
  outline: none;
  padding: 4px 0 4px 10px;
  width: 100%;
}

.search-bar .btn {
  height: 100%;
  margin: 0 0 0 10px;
}

#sear.h-results {
  background: #2f464fcc;
  padding: 10px;
}

.search-results:empty {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.search-results {
  opacity: 1;
  background: #2f464fcc;
  color: whitesmoke;
  padding: 10px 20px;
  position: relative;
  top: 70px;
  max-height: auto;
  z-index: 5;
}

.search-results .title {
  margin: 5px 0 12px;
}

.search-results .category {
  flex: 1;
}

#search_results .result:nth-child(odd) {
  color: whitesmoke;
}

#search_results .result:nth-child(even) {
  color: #cbff00;
}

@media (min-width: 600px) {
}

@media (max-width: 600px) {
  .search-bar {
    grid-column: 1 / 9;
  }

  .search-bar .input {
    max-width: 100%;
    margin: auto;
  }
}
